/* media query for high resolution screens under 3000px */
@media (min-width: 1920px) {
    /* nav-bar */
    #nav-bar li {
        padding: 20px;
        margin: 20px;
    }

    /* hero section */
    #hero-image {
        height: 1200px;
    }

    .hero-text h2 {
        font-size: 220%;
    }

    /* our stock page */
    #photo-gallery-container>img {
        max-width: unset;
    }

}

/* media query for large screens 1025px to higher resolution desktops */
@media (min-width: 1025px) and (max-width: 1920px) {
    /* logo and navigation bar */
    #logo-left {
        font-size: 160%;
    }

    #nav-bar {
        font-size: 110%;
    }

    #nav-bar a {
        padding: 15px;
    }

    .logo-right img {
        max-width: 200px;
    }

    /* hero section */
    #hero-image {
        height: 750px;
    }

    .hero-text h2 {
        font-size: 160%;
    }

    .hero-text {
        margin-left: 50px;
    }

    /* mid-page section */
    #box-one,
    #box-two {
        width: 90%;
    }

    /* our commitment section */

    .com-list {
        top: 50%;
        left: 25%;
    }
}

/* media query for tablets and iPad */
@media (min-width: 900px) and (max-width: 1024px) {

    /* logo and navigation bar */
    #logo-left {
        font-size: 110%;
    }

    #nav-bar {
        font-size: 100%;
    }

    #nav-bar a {
        padding: 8px;
    }

    .logo-right img {
        max-width: 150px;
    }

    /* hero section */
    #hero-image {
        height: 500px;
    }

    .hero-text h2 {
        font-size: 100%;
        line-height: 70px;
    }

    .hero-text {
        margin-left: 30px;
    }

    /* mid-page section */
    .welcome-msg h3 {
        padding: 8px;
        margin: 8px;
    }

    #box-one,
    #box-two {
        width: 90%;
    }

    /* our commitment section */
    #con-container h4 {
        font-size: 90%;
    }

    .com-list {
        width: 450px;
        top: 50%;
        left: 25%;
    }

    /* gallery page */
    .info-container {
        width: 100vw;
        padding: 0;
        margin: 0;
    }

    .text-box {
        padding: 0;
        margin: 0;
    }

    /* contact page */
    #contact-container {
        margin: 10px auto;
    }


    /* form feedback page */

    #form-feedback-box {
        width: 100%;
        padding: 15px 0 0 0;
        margin: 10px 0 0 0;
        font-size: 100%;
    }

}

/* media query for small tablets and larger mobile phones */
@media (min-width: 480px) and (max-width: 899px) {

    /* logo and navigation bar */
    #logo-left {
        font-size: 70%;
    }

    #nav-bar {
        font-size: 70%;
    }

    #nav-bar a {
        padding: 5px;
    }

    #logo-left,
    #nav-bar {
        line-height: 40px;
    }

    .logo-right img {
        max-width: 80px;
    }

    /* hero section */
    #hero-image {
        height: 350px;
    }

    .hero-text h2 {
        font-size: 60%;
        letter-spacing: 2px;
        line-height: 40px;
    }

    .hero-text {
        margin: auto;
    }

    /* mid-page section */
    .welcome-msg h3 {
        padding: 8px;
        margin: 8px;
    }

    .welcome-msg {
        font-size: 90%;
        padding: 20px 0 0 0;
        margin: 10px 0 0 0;
        line-height: 28px;
    }

    #box-one,
    #box-two {
        flex-direction: column;
    }

    .flex-box-text {
        width: 90%;
        margin: 15px;
    }

    .leftside-text {
        padding-left: 20px;
        margin-left: 30px;
    }

    .rightside-text {
        padding-right: 20px;
        margin-right: 30px;
    }

    /* our commitment section */
    #com-container {
        margin-top: 10px;
    }

    #com-container img {
        margin-bottom: 30px;
    }

    .com-list {
        all: unset;
        text-align: center;
    }

    .com-list h3,
    .com-list h4 {
        font-size: 100%;
        padding: 10px;
    }

    /* footer */
    .flex-box {
        flex-direction: column;
    }

    footer div {
        margin: 15px 0;
        text-align: center;
    }

    /* gallery page */
    .info-container {
        flex-direction: column;
    }

    .info-container div {
        width: 90%;
    }

    .mid-box {
        margin: 20px;
    }

    /* contact page */
    #top-container {
        flex-direction: column;
    }

    #top-container img {
        max-width: 80%;
    }

    #right-box {
        width: 80%;
        display: block;
    }

    #contact-container {
        max-width: 80%;
        margin: 10px auto;
    }


    /* form feedback page */

    #form-feedback-box {
        width: 100%;
        padding: 15px 0 0 0;
        margin: 10px 0 0 0;
        font-size: 90%;
    }

}

/* media query for mobile phones with smaller screens */
@media (min-width: 320px) and (max-width: 479px) {

    html,
    body {
        font-size: small;
    }

    /* logo and navigation bar */
    #nav-container {
        flex-direction: column;
        padding: 15px;
    }

    #logo-left {
        font-size: 80%;
    }

    #nav-bar {
        font-size: 85%;
        margin: 12px 0;
        display: inline-block;
    }

    #nav-bar a {
        padding: 10px;
    }

    .logo-right img {
        max-width: 90px;
    }

    #logo-left,
    #nav-bar {
        line-height: 30px;
    }
    .logo-right {
        margin-top: 10px;
    }

    /* hero section */
    #hero-image {
        height: 200px;
    }

    .hero-text h2 {
        font-size: 50%;
        letter-spacing: 1.8px;
        line-height: 30px;
    }

    .hero-text {
        margin: auto;
    }

    /* mid-page section */
    .welcome-msg {
        font-size: 80%;
        line-height: 15px;
        padding: 20px 0 0 0;
        margin: 10px 0 0 0;
    }

    .welcome-msg span {
        font-size: 120%;
    }

    .welcome-msg h3 {
        padding: 8px;
        margin: 8px;
    }

    .flex-box-text {
        width: 90%;
        margin: 15px;
        padding: 15px;
        line-height: 20px;
    }

    #box-one,
    #box-two {
        flex-direction: column;
    }

    /* our commitment section */
    #com-container {
        margin-top: 0;
    }

    #com-container img {
        margin-bottom: 30px;
    }

    .com-list {
        all: unset;
        width: 80%;
        text-align: center;
    }

    .com-list h3,
    .com-list h4 {
        padding: 8px;
        font-size: 90%;
    }

    /* footer */
    .flex-box {
        flex-direction: column;
    }

    footer div {
        margin: 15px 0;
        text-align: center;
    }

    footer {
        margin: 20px 0;
    }

    /* gallery page */
    .info-container {
        flex-direction: column;
    }

    .info-container div {
        width: 90%;
    }
    .mid-box {
        margin: 20px;
    }

    .text-box {
        line-height: 20px;
        padding: 5px;
        margin: 5px;
    }

    #extra-text {
        width: 80%;
    }

    #extra-text h3 {
        font-size: 70%;
    }

    /* contact page */
    #top-container {
        flex-direction: column;
    }

    #top-container img {
        max-width: 80%;
    }

    #right-box {
        width: 90%;
        line-height: 20px;
        padding: 10px;
    }

    #right-box h2,
    #right-box h3 {
        font-size: 95%;
    }

    #contact-container {
        max-width: 80%;
        margin: 10px auto;
    }

    .contact-form button {
        width: 90px;
        padding: 10px;
        font-size: 15px;
    }

    /* form feedback page */

    #form-feedback-box {
        width: 100%;
        padding: 15px 0 0 0;
        margin: 10px 0 0 0;
        font-size: 90%;
    }

}