@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

body {
    font-family: Lato, Roboto, "Open Sans", sans-serif;
    font-weight: 400;
    background-color: black;
    color: white;
}

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    letter-spacing: 1.5px;
}

/* logo and navigation bar */
#nav-container {
    width: 100%;
    padding: 20px;
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

#logo-left {
    font-size: 280%;
    font-family: fantasy;
    font-weight: bolder;
    text-align: center;
}

#logo-left a {
    list-style-type: none;
    text-decoration: none;
}

#logo-left h1 {
    color: white;
    text-decoration: none;
}

#nav-bar {
    font-size: 180%;
    text-align: center;
    font-weight: bold; 
}

#nav-bar a {
    color: inherit;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 20px;
}

#nav-bar li {
    list-style-type: none;
    display: inline-block;
}

#logo, #nav-bar {
    line-height: 80px;
}

#nav-bar a:hover {
    background-color: orange;
}

.active {
    border-bottom: 2px solid rgb(50, 238, 91);
}

.logo-right img {
    max-width: 300px;
    height: auto;
}

/* hero section. Some codes are taken from Love Running project */
#hero-container {
    width: 100%;
    position: relative;
}

#hero-image {
    background: url("../images/lamwhitehero.jpg") no-repeat center center;
    max-width: 100%;
    height: 900px;
    background-size: cover;
    overflow: hidden; 
}

.hero-text {
    font-size: 300%;
    font-weight: bold;
    padding: 30px;
    margin: 50px 0 0 100px;
    position: absolute;
}

.hero-text h1 {
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 110px;
}

/* mid-page section: about us and our mission */
.welcome-msg {
    font-size: 120%;
    text-align: center;
    padding: 30px 0;
    line-height: 40px;

}

.welcome-msg span {
    font-size: 150%;
    font-weight: bolder;
}

#mid-page-container {
    width: 100%;
    overflow: hidden;
}

#box-one, #box-two {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box-one {
    margin-bottom: 30px;
}

.flex-box-text {
    width: 30%;
    line-height: 25px;
    letter-spacing: 1px;
    text-align: left;
    padding: 20px;
    margin: 30px;
   
}


.flex-box-text h3 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.image-box img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    
}

/* our commitment section */
#com-container {
    width: 100%;
    height: 900px;
    position: relative;
    margin-top: 30px;
    overflow: hidden;

    
}

/* .com-container img {
    max-width: 100%;
    height: auto;
    
} */

.com-list {
    width: 500px;
    text-align: center;
    float: right;
}

.com-list h3 {
    text-transform: uppercase;

}
.com-list h4 {
    
}





/* media query for large screens 1025px to higher resolution desktops */
@media (min-width: 1025px) and (max-width: 2112px) {
     /* logo and navigation bar */
    #logo-left {
        font-size: 160%;
    }
    #nav-bar {
        font-size: 110%;
    }

    #nav-bar a {
        padding: 15px;
    }

    .logo-right img {
        max-width: 200px;
    }

    /* hero section */
    #hero-image {
        height: 750px;
    }
    .hero-text h1 {
        font-size: 160%;
    }
    .hero-text {
        margin-left: 50px;
    }

    /* mid-page section */
    #box-one,
    #box-two {
        width: 90%;
    }
    

    
}



/* media query for tablets and iPad */
@media (min-width: 768px) and (max-width: 1024px) {
     /* logo and navigation bar */
    #logo-left {
    font-size: 110%;
    }

    #nav-bar {
    font-size: 100%;
    }

    #nav-bar a {
    padding: 8px;
    }

    .logo-right img {
    max-width: 150px;
    }
    /* hero section */
    #hero-image {
        height: 500px;
    }

    .hero-text h1 {
        font-size: 100%;
        line-height: 70px;
    }
    .hero-text {
        margin-left: 30px;
    }

    /* mid-page section */
    #box-one,
    #box-two {
        width: 90%;
    }
    
}

/* media query for small tablets and larger mobile phones */
@media (min-width: 480px) and (max-width: 899px) {
     /* logo and navigation bar */
    #logo-left {
        font-size: 80%;
    }

    #nav-bar {
        font-size: 70%;
    }

    #nav-bar a {
        padding: 5px;
    }

    #logo-left,
    #nav-bar {
        line-height: 40px;
    }

    .logo-right img {
        max-width: 90px;
    }
    /* hero section */
    #hero-image {
        height: 350px;
    }

    .hero-text h1 {
        font-size: 60%;
        letter-spacing: 2px;
        line-height: 40px;
    }
    .hero-text {
        margin: auto;
    }
     /* mid-page section */
     #box-one,
     #box-two {
         flex-direction: column;
     }

     .flex-box-text {
         width: 90%;
     }
    
}

/* media query for mobile phones with smaller screens */
@media (min-width: 320px) and (max-width: 479px) {
    html, body {
        font-size: x-small;
        overflow: hidden;
    }
    /* logo and navigation bar */
    #nav-container {
        flex-direction: column;
    }

    #logo-left {
        font-size: 80%;
    }

    #nav-bar {
        font-size: 70%;
    }

    #nav-bar a {
        padding: 10px;
    }

    .logo-right img {
        max-width: 90px;
    }
    #logo-left, #nav-bar {
        line-height: 30px;
    }
    /* hero section */
    #hero-image {
        height: 210px;
    }
    .hero-text h1 {
        font-size: 50%;
        letter-spacing: 1.8px;
        line-height: 20px;
    }
    .hero-text {
        margin: auto;
    }
     /* mid-page section */
     .welcome-msg {
         font-size: 100%;
         padding: 10px 0;
         line-height: 20px;
     }
     .flex-box-text {
         width: 90%;
         margin: 10px;
         padding: 10px;
         line-height: 15px;
     }
      #box-one,
      #box-two {
          flex-direction: column;
      }

}