@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

body {
    font-family: Lato, Roboto, "Open Sans", sans-serif;
    font-weight: 400;
    background-color: black;
    color: white;
}

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    letter-spacing: 1.5px;
}

/* logo and navigation bar */
#nav-container {
    width: 100%;
    padding: 20px;
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

#logo-left {
    font-size: 280%;
    font-family: fantasy;
    font-weight: bolder;
    text-align: center;
}

#logo-left a {
    list-style-type: none;
    text-decoration: none;
}

#logo-left h1 {
    color: white;
    text-decoration: none;
}

#nav-bar {
    font-size: 180%;
    text-align: center;
    font-weight: bold; 
}

#nav-bar a {
    color: inherit;
    text-decoration: none;
    letter-spacing: 2px;
}

#nav-bar li {
    list-style-type: none;
    display: inline-block;
}

#logo, #nav-bar {
    line-height: 80px;
}

#nav-bar a:hover {
    background-color: orange;
}

.active {
    border-bottom: 2px solid rgb(50, 238, 91);
}

.logo-right img {
    max-width: 300px;
    height: auto;
}

/* hero section. Some codes are taken from Love Running project */
#hero-container {
    width: 100%;
    position: relative;
}

#hero-image {
    background: url("../images/lamwhitehero.jpg") no-repeat center center;
    max-width: 100%;
    height: 900px;
    background-size: cover;
    overflow: hidden; 
}

.hero-text {
    font-size: 300%;
    font-weight: bold;
    padding: 30px;
    margin: 50px 0 0 100px;
    position: absolute;
}

.hero-text h1 {
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 110px;
}

/* mid-page section: about us and our mission */
.welcome-msg {
    font-size: 120%;
    text-align: center;
    padding: 30px 0;
    margin: 20px 0;
    line-height: 50px;
}

.welcome-msg span {
    font-size: 140%;
    font-weight: bolder;
}

.welcome-msg h3 {
    padding: 10px 0;
    margin: 10px 0;
}

#mid-page-container {
    width: 100%;
    overflow: hidden;
}

#box-one, #box-two {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box-one {
    margin-bottom: 30px;
}

.flex-box-text {
    width: 30%;
    line-height: 25px;
    letter-spacing: 1px;
    text-align: left;
    padding: 20px;
    margin: 30px;
}

.flex-box-text h3 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.leftside-text {
    padding-left: 0;
    margin-left: 0;
}

.rightside-text {
    padding-right: 0;
    margin-right: 0;
}

.image-box img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* our commitment section */
#com-container {
    width: 100%;
    height: 900px;
    position: relative;
    margin-top: 30px;
    overflow: hidden;
}

#com-container img {
    max-width: 100%;
}

.com-list {
    width: 500px;
    text-align: center;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.com-list h3 {
    text-transform: uppercase;
}
.com-list h3,
.com-list h4 {
    font-size: 120%;
    line-height: 20px;
    background-color: #0954a0;
    display: block;
    padding: 15px;
    letter-spacing: 1px;
    margin: 5px;
    border-radius: 10px;
}

/* footer */
.flex-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-box h4 {
    text-transform: uppercase;
    padding: 8px 0;
}

.flex-box p {
   line-height: 22px;
}

.social-media-links li {
    list-style-type: none;
    display: inline-block;
    padding: 8px;
}

.social-media-links a {
    font-size: large;
    color: rgb(255, 255, 255);
}

footer {
    margin: 50px 0;
}

.copy-right-box {
    text-align: center;
    margin: 20px 0;
}

.disclaimer-text {
    font-size: 15px;
    text-align: center;
    padding: 10px 0;
    margin: 10px 15px 30px 15px;
}

/* gallery page */
.info-container {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info-container div {
    width: 30%;
}

.text-box {
    letter-spacing: 2px;
    line-height: 25px;
    padding: 10px;
    margin: 10px;
}

.mid-box img {
    width: 100%;
    border-radius: 50%;
    border: 3px solid #1884F0;
}

.text-box h2 {
    padding-bottom: 20px;
    text-align: center;
    letter-spacing: 3px;
    
}
/* photo gallery section */
#photo-gallery-container {
    background-color: rgba(99, 128, 165, 0.5);
    width: 100vw;
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

#photo-gallery-container > img {
    max-width: 300px;
    padding: 10px;
    border-radius: 20px;
}

#photo-gallery-container>img:hover {
    transform: scale(1.3);
    cursor: pointer;
}
.extra-text {
    max-width: 80%;
    margin: 20px auto;
    
}
.extra-text h3 {
    font-size: 130%;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    margin: 10px;
}

/* contact page */
#top-container {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#top-container img {
    max-width: 50%;
    border-radius: 15px;
}
#right-box {
    width: 40%;
    padding: 20px;
    margin: 20px;
    font-size: 100%;
    line-height: 25px;
    letter-spacing: 2px;
}

#contact-container {
    max-width: 50%;
    padding: 20px;
    margin: 20px auto;
    background: #5d656d;
    border-radius: 10px;
}

.contact-form input, select, textarea {
    width: 100%;
    font-size: 100%;
    letter-spacing: 1.8px;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 12px;
    border: 1px solid #5d656d;
    border-radius: 8px;
}

.contact-form label {
    font-weight: bold;
    letter-spacing: 1px;
}

.contact-form button {
    width: 150px;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    background-color: #1884F0;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.contact-form button:hover {
    background-color: orange;
    opacity: 0.7;
    cursor: pointer;
}



